@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #000;
}

.container {
  position: relative;
  width: 400px;
  padding: 30px;
  background: #1a1a1a;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 70px;
  border: 1px solid #2c2c2c;
}
.container h2 {
  color: #e5e5e5;
  font-weight: 500;
}

.container .inputArea {
  position: relative;
  width: 100%;
}

.container .inputArea input {
  position: relative;
  width: 100%;
  background: #222;
  border: 1px solid #2f2f2f;
  outline: none;
  padding: 10px;
  color: aliceblue;
  font-size: 1.1em;
}

.container .strengthMeter {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #111;
}

.container .strengthMeter::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  transition: 0.5s;
  background: #8b8b8b;
}

.container.weak .strengthMeter::before {
  width: 10%;
  background: #c0392b;
}

.container.moderate .strengthMeter::before {
  width: 70%;
  background: #f39c12;
}

.container.strong .strengthMeter::before {
  width: 100%;
  background: #27ae60;
}

.container .strengthMeter::after {
  position: absolute;
  top: -45px;
  left: 30px;
  transition: 0.5s;
  color: aliceblue;
}

.container.container.weak .strengthMeter::after {
  content: "Weak Password";
  color: #c0392b;
}

.container.container.container.moderate .strengthMeter::after {
  content: "Moderate Password";
  color: #f39c12;
}

.container.container.container.container.strong .strengthMeter::after {
  content: "Strong Password";
  color: #27ae60;
}

.show {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: #1a1a1a;
  border: 1px solid #2f2f2f;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.show::before {
  content: "Show";
  font-size: 0.6em;
  color: aliceblue;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.show.hide::before {
  content: "Hide";
}